* {
  box-sizing: border-box;
  padding: 2px;
}

body {
  font-family: Arial;
  background-color: blueviolet;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border: 7px solid black;
  background-color: gray;
  font-family: Arial;
  margin: 2px auto;
}

ul {
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  font-size: large;
}

.photo {
  display: flex;
  justify-content: center;
  border: 7px solid black;
  background-color: aqua; 
}

.about-me {
  display: flex;
  border: 7px solid black;
  background-color: white;
}

.work {
  border: 7px solid black;
  margin: 2px 400px;
  background-color: green; 
}

.work-section {
  display: flex;
  border: 2px solid yellow;
  margin-right: 750px;
}

.first-project {
  display: flex;
  justify-content: flex-end;
}

.photo-1-card {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 2px 200px
}

.photo-2-card {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  margin: 2px 200px 2px 700px
}

.contact {
  border: 7px solid black;
  background-color: darkred;
  margin: 2px 800px 2px 800px;
}

.footer {
  text-align: center;
}